<div class="center">
  <div class="col d-flex justify-content-center mt-5">
    <div class="row">
      <mat-icon>error_outline</mat-icon>
    </div>
  </div>
  <div class="col d-flex justify-content-center mt-2">
    <div class="row">
      <span>{{errorTitle || 'Error Occured!'}}</span>
    </div>
  </div>
  <div class="col d-flex justify-content-center mt-2">
    <div class="row">
      <button mat-raised-button color="accent" (click)="onTryAgain()">Try Again</button>
    </div>
  </div>
</div>
